@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Forget Password</h2>
<p>Step 1 : Enter your Email</p>
<form method="post">
    Email     : <input type="email" name="email" id="email" required><br><span id="emailFor"></span><br>
    <input type="submit" value="Next">
</form>