@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forget Password</h2>
<p>Step 3 : Enter new password</p>
<form method="post">
    New Password     : <input type="password" name="password" id="password" required><br><span id="passwordFor"></span><br>
    <input type="submit" value="Next">
</form>